[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
clean = "rm -rf nicenet.egg-info/ build/ dist/"
build = "python3 setup.py sdist bdist_wheel"
test-deploy = "python3 -m twine upload -r testpypi dist/* --verbose"
deploy = "python3 -m twine upload -r pypi dist/* --verbose"

[packages]
numpy = ">=1.18.1"
matplotlib = ">=3.1.3"
typing = "*"

[dev-packages]
setuptools = "*"
twine = "*"
autopep8 = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
